/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a9a2a2;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #656464;
}


.layout{
  @apply flex min-h-screen max-w-[1450px]  m-auto flex-col items-center justify-between p-2 md:p-24 
}

.primary-header{
  @apply text-lg md:text-5xl font-bold underline 
}
.secondary-header{
  @apply text-base md:text-3xl
}

nav>ul>li>a{
  @apply hover:underline 
}

.pet-card{
  @apply absolute inset-0 bg-gradient-to-t from-black to-transparent opacity-0 group-hover:opacity-80 transition-opacity duration-300
}